mixin abstractStory(story, author)
    div.abstract-story 
        a(href="/story/"+story._id)
            h4.abstract-story-title= story.title 
        p= story.desc 
        .rating 
            .star
                img(src='/images/star.png' width='20px' height='20px')
                p= story.averageRating
            .count    
                img(src='/images/user.png' width='20px' height='20px')  
                p= story.ratingCount
        br
        if author 
            a(href="/user/"+story.author._id+"/about")
                h4.abstract-story-auth= "-" + story.author.name