extends ../layout
include ../review/create.pug
include review.pug
include ../nav.pug
block content 
    - const elements = [{name: "home", href: "/"}]
    +navBar(elements)
    if !retrieved
        p  #{message} 
    else 
        div
            h1 #{story.title}
            br
            p #{story.content} 
            br 
            p Overall Rating : #{averageRating}
            br 
            h3(style="text-align:right;")= "-" + story.author.name
        if userState.auth 
            if userState.owner 
                p you are the author of this story so, you can't submit a review 
            else 
                if !userState.rated
                    +createReview(story)
                else 
                    h3 your review 
                    +review(userState.review)
        else 
            h3 login to submit a review
        for i in story.reviews 
            +review(i)