extends ../layout
include ../review/create.pug
include ../review/edit.pug
include ../review/review.pug
include ../nav.pug
block content 
    - const elements = [{name: "home", href: "/"}]
    +navBar(elements)
    if !retrieved
        p  #{message} 
    else 
        div
            h1(style="text-align:center;") #{story.title}
            br
            p #{story.desc} 
            br
            p #{story.content} 
            br 
            p Overall Rating : #{story.averageRating}
            p Users Rated : #{story.ratingCount}
            br 
            a(href="/user/about/"+story.author._id)= "-" + story.author.name
            hr
        if userState.auth 
            if userState.info 
                if userState.owner 
                    p(style="text-align:center;") you are the author of this story so, you can't submit a review 
                else 
                    if !userState.rated
                        h3(style="text-align:center;") rate story
                        +createReview(story)
                    else 
                        h3(style="text-align:center;") your review 
                        +editReview(userState.review, story)
            else 
                p #{userState.message}
        else 
            h3(style="text-align:center;") login to submit a review
        hr
        h3(style="text-align:center;") reviews
        for i in story.reviews 
            +review(i, true)
            hr
        else 
            h3 no reviews